POSTGRES_DB=api_limiter
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379

APP_PORT=8080
FRONTEND_PORT=3000

JWT_SECRET=replace-me-with-a-very-long-production-ready-secret-12345
JWT_EXPIRATION_MS=36000000
FRONTEND_ORIGIN=http://localhost:3000,http://localhost:5173
